#container {
    width : 1080px;
    margin: auto;
    position: static;
    z-index: 1;
}
.VueCarousel-wrapper {
	width : 1080px;
	height : 300px;
	margin : auto;
	z-index: 1;
}
.VueCarousel-slide {
	position: relative;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 24px;
 	text-align: center;
 	min-height : 300px;
 	width : 100%;
 	z-index: 1;
}
.label {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	width : 100%;
 	height : 100%;
 	z-index: 1;
}
.label div {
 	 width : 100%;
	 height : 100%;
	 z-index: 1;
	 background-size: cover;
}
#container h2 {
    margin-left: 4em;
    margin-top: 40px;
}
#sellCategory, #commCategory {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.sellCateList, .commCateList {
    text-align: center;
    font-weight: bold;
    margin: 0 30px;
}
.sellCateList img {
    width: 120px;
    height: 120px;
    border-radius: 25%;
}
.commCateList img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#sellRc, #buyRc, #commRc{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.commCateList a:hover > img {
	box-shadow : 5px 5px 5px 0 #ccc;
}
.sellCateList a:hover > div img {
	box-shadow : 5px 5px 5px 0 #ccc;
}
.itembox {
	width : 140px;
    margin: 0 20px;
    background-color: #ccc;
    border-radius : 5px;
}
.itembox:hover {
	box-shadow : 3px 0px 10px 0 #ccc;
	
}
.itembox img {
    width: 140px;
    height: 140px;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
}
.itembox p {
	font-size : 14px;
    margin-top: 0;
    margin-bottom: 5px;
    padding : 0 5px;
}
.imgbox {
	width: 140px;
    height: 140px;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    background-image: url("../img/share/no-image01.gif");
    background-size: 100% 150px;
}